<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <style>
        #error-msg{
            color: red;
        }
    </style>
</head>
<body>
    <h1>Nike Shoe</h1>
    <h2>Image here</h2>
    <p>DESCRIPTITON HERE</p>
    <p id="error-msg"></p>
    <button onclick="buyNow()">Buy Now</button>
    <script src="../js/error.js"></script>
</body>
</html>